.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include mq(mobile) {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 375px;
  }

  @include mq(laptop) {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1280px;
  }

  @include mq(desktop) {
    padding-left: 180px;
    padding-right: 180px;
    max-width: 1600px;
  }
}
