.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;

  @include mq(mobile) {
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
  }

  @include mq(desktop) {
    max-width: 1600px;
    padding-left: 180px;
    padding-right: 180px;
  }
}
