.about__wrapper {
  position: relative;
  padding-top: 126px;
  padding-bottom: 194px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 221px;

  background-image:
    url('../images/about/love@1x.png'),
    url('../images/about/bg@1x.png'),
    url('../images/about/bg2@1x.png');
  background-position: bottom 36.65px right 102px, top 482px left 98px,
    top -16px left 480px;
  background-repeat: no-repeat;
  background-size: 342px 267px, 633px 344px, 480px 661px;

  @include mq(retina) {
    background-image:
    url('../images/about/love@2x.png'),
    url('../images/about/bg@2x.png'),
    url('../images/about/bg2@2x.png');
  }

  @include mq(mobile) {
    padding: 15px 15px 109.6px;

    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 42px;

    background-image:
      url('../images/about/bg@1x.png'),
      url('../images/about/bg2@1x.png');
    background-position: top 622.3px left 43px, top 256px left 231px;
    background-repeat: no-repeat;
    background-size: 220px 140px, 181px 291px;

    @include mq(retina) {
      background-image:
        url('../images/about/bg@2x.png'),
        url('../images/about/bg2@2x.png');
    }
  }
}

.about__img-wrapper {
  position: relative;

  @include mq(mobile) {
    padding-right: 63.4px;
  }
}

.about__img {
  width: 100%;
  border-radius: 10px;

  box-shadow: 0px 52px 54px 0px rgba(65, 62, 101, 0.30);

  @include mq(mobile) {
    width: 281.6px;
  }
}

.img-stones {
  position: absolute;
  top: 301px;
  right: -97px;

  width: 198px;
  height: 198px;

  border-radius: 50%;
  border: 8px solid var(--bg-white);

  filter: drop-shadow(0px 52px 54px rgba(65, 62, 101, 0.30));

  @include mq(mobile) {
    top: 185px;
    right: -5px;

    width: 130px;
    height: 130px;
  }
}

.about__meta {
  width: 473px;

  @include mq(mobile) {
    width: 100%;
  }
}

.about__meta .title--mb {
  margin-bottom: 15px;
}