.nav {
  margin-left: 25px;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: -0.72px;

  color: var(--text-white);

  @include mq(mobile) {
    display: none;
  }
}

.navigation__list {
  display: flex;
  justify-content: center;
  gap: 50px;

  text-transform: capitalize;
}

.navigation__item {
  transition: var(--hover-transition);

  &:hover,
  & a:focus {
    color: var(--hover);
    transform: scale(1.15);
    outline: none;
  }
}
