.nav {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: -0.72px;
  color: var(--text-white);
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 50px;

  text-transform: capitalize;
}

.navigation_item {
  transition: color var(--fast) linear;

  &:hover,
  &:focus {
    color: var(--secondary);
  }
}

.header .navigation_itemm:last-child {
  display: none;
}
