@function HexToRGB($hex) {
  @return red($hex),
  green($hex),
  blue($hex);
}

:root {
  --main: #F08620;

  /* TEXT COLORS */
  --text-title: #25272F;
  --text-description: #67687A;
  --text-white: #FFFFFF;
  --text-trial: #F5FFCC;

  /* BACKGROUND COLORS */
  --bg-hero: #B0008E;
  --bg-white: #FFFFFF;

  /* BORDER */
  --border-radius: 5px;

  /* FONTS */
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'SourceSans', sans-serif;

  /* ANIMATIONS SPEED */
  --fast: 0.2s;
  --slow: 0.4s;
}
