.header {
  padding-top: 31px;
  padding-bottom: 31px;
  width: 100%;

  position: absolute;
  top: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  align-self: flex-start;
  gap: 20px;
}
