.header {
  width: 100%;

  position: absolute;
  top: 0;
}

.header__container {
  padding: 31px 180px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(laptop) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mq(mobile) {
    padding: 10px 18px 10px 13px;
  }
}

.btn-list {
  display: flex;
  align-items: baseline;
  align-self: baseline;
  gap: 20px;

  li:last-child {
    display: none;
  }

  @include mq(mobile) {
    align-self: center;
    gap: 16px;

    li:last-child {
      display: block;
    }
  }
}

.header__btn {
  color: var(--bg-white);

  transition: var(--hover-transition);

  &:hover,
  &:focus {
    color: var(--hover);
    transform: scale(1.15);
    outline: none;
  }

  @include mq(mobile) {
    display: none;
  }
}

.basket-btn {
  padding: 1px 13px;

  display: flex !important;
  align-items: center;

  border-radius: 29px;

  color: var(--main);
  background-color: var(--bg-white);

  transition: var(--hover-transition);

  &:hover,
  & a:focus {
    color: var(--hover);
    transform: scale(1.15);
    outline: none;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  @include mq(mobile) {
    svg {
      width: 26.5px;
      height: 26.5px;
    }
  }
}

.burger-btn {
  display: none;

  color: var(--bg-white);

  transition: var(--hover-transition);

  &:hover,
  &:focus {
    color: var(--hover);
    transform: scale(1.15);
    outline: none;
  }

  @include mq(mobile) {
    display: block;
  }
}
