<section id="about" class="section about">
  <div class="container about__wrapper">
    <div class="about__img-wrapper">
      <img class="about__img" src="./assets/images/about/monica@1x.jpg" alt="" />
      <img class="img-stones" src="./assets/images/about/stones@2x.jpg" alt="" />
    </div>
    <div class="about__meta">
      <h2 class="title title--mb">One Complete Philosophy for Your Total Wellbeing</h2>
      <p class="description">
        Upgrade the condition of your body. Harness the infinite power of your mind. Experience the
        boundless joy of your spirit. The secret lies in energy.
      </p>
    </div>
  </div>
</section>
