<section id="hero" class="hero">
  <div class="hero__container">
    <p class="hero__trial">free 15-day trial</p>
    <h1 class="hero__title hero__title--margin">change your energy transform your life</h1>
    <p class="hero__description hero__description--mb">
      Learn from mind-body-spirit masters on a premium online platform
    </p>
    <button class="hero__btn" type="button">start free 15-day trial</button>
    <button class="scroll-btn" type="button">
      <svg width="23px" height="35px" aria-label="scroll button">
        <use href="./assets/images/sprite.svg#icon-scroll"></use>
      </svg>
    </button>
  </div>
</section>
